body {
    height: 100%;
    overflow-x: hidden;
}

/*--------------------------  
    HEAD BANNER SECTION
-------------------------- */

#header {
    background-image: url(../images/concert.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0;
    min-height: 500px;
}

#header h1 {
    font-family: 'Teko', sans-serif;
    font-size: 4.5rem;
    text-shadow: 0 0 10px #000;
}

#header .lead {
    text-shadow: 0 0 10px #000;
}

/*----- Custom Img Uploads -----*/

#file-input {
    height: 42px;
    padding: 0 5px;
    width: 100%;
}

.upload-custom-wrapper {
    width: 75%;
}

.custom-file {
    align-items: unset !important;
}

.upload-img-labels {
    background-color: #120950;
    border: none;
    color: #fff;
    cursor: default;
    font-size: 1.25rem;
}

#submit {
    border-radius: 0 .25rem .25rem 0;
    padding: 0 20px;
}

#submit:hover {
    background-color: #1f1081;
    box-shadow: inset 0 0 5px 3px #171235;
}

#submit:active {
    background-color: #1f1081;
    box-shadow: inset 0 0 5px 3px #624fca;
}

/*--------------------------  
    GENRE CHECKLIST 
-------------------------- */
#genre-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-template-rows: auto 1fr;
}

/*--------------------------  
    LIBRARY of MOODS 
-------------------------- */

#pics-go-here {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-flow: dense;
}

.mood-card {
    overflow: hidden;
    position: relative;
}

.mood-card img {
    height: 340px;
    width: auto;
    object-fit: cover;
}

.mood-name,
.mood-level {
    background-color: #120950;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: .7;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.mood-level {
    background-color: #542054;
    bottom: 75px;
}

.remove {
    border-radius: 50%;
    filter: opacity(0);
    margin-top: -50px;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: .3s ease-in-out;
    width: 38px;
    z-index: 9999;
}

.remove:hover {
    box-shadow: inset 0 0 4px 1px #dd6868;
    transition: .1s ease-in-out;
}

.remove:active {
    background-color: #eeb1b1 !important;
    box-shadow: inset 0 0 4px 1px #bd2130;
    color: #bd2130 !important;
    transition: .1s ease-in-out;
}

.spotify-logo {
    color: #84b82d;
    cursor: pointer;
    filter: opacity(0);
    font-size: 10rem;
    margin-left: -80px;
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: .3s ease-in-out;
}

.spotify-logo:hover {
    font-size: 10.5rem;
    left: 49%;
    top: 49%;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s;
}

.spotify-logo:active {
    color: #6b9424;
    font-size: 9.5rem;
    left: 51%;
    top: 51%;
    opacity: .8;
    text-shadow: none;
}

.shadow {
    background-color: #000;
    filter: opacity(0);
    height: 100%;
    position: absolute;
    width: 100%;
}

/*--------------------------  
    PLAYLIST POPUP 
-------------------------- */

#playlist-popup {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 75%;
    z-index: 9999;
}

.playlist-tabs {
    background-color: #120950;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    height: 40px;
    padding-top: 8px;
    position: absolute;
    bottom: 50px;
    right: -20px;
    text-align: center;
    transform: rotate(-90deg);
    width: 80px;
    z-index: 10;
}

.playlist-tabs:hover {
    background-color: #1f1081;
    box-shadow: inset 0 0 5px 3px #171235;
}

.playlist-tabs:active {
    background-color: #1f1081;
    box-shadow: inset 0 0 5px 3px #624fca;
}

#playlist-popup #table-wrapper {
    border-radius: 15px 0 0 15px;
    position: absolute;
    bottom: 10px;
    right: -100%;
    width: 750px;
}

#table-scroll {
    /* position: relative; */
    max-height: 500px;
    overflow: auto;
    margin-top: 20px;
}

#playlist-popup table th {
    border-top: none;
    font-weight: 600;
    top: -20px;
}

/*--------------------------  
    MEDIA QUERIES
-------------------------- */

@media only screen and (max-width: 767px) {
    #pics-go-here {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0 30px;
    }
    .mood-card img {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    #header h1 {
        font-size: 3.25rem
    }
    .upload-custom-wrapper {
        width: 100%;
    }
    #playlist-popup {
        width: 100%;
    }
    #playlist-popup table {
        border-radius: 0;
    }
}

@media only screen and (max-width: 400px) {
    #playlist-popup table {
        font-size: .8rem;
    }
}